<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cadastroChamado.css">
  <title>Document</title>
</head>

<body>


  <form method="post" action="/cadastroFila">

    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao"><br><br>
 
    <th:block>
      <label for="chamado">Chamado:</label>
      <select name="id" id="select">
        <option value="null" selected>Selecione</option>
        <option th:each="chamado:${chamados}" th:value="${chamado.id}" th:text="${chamado.titulo}"></option>
      </select>
    </th:block><br><br>


    <button type="submit" class="button">Salvar</button>
  </form>


</body>

</html>