<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cadastroChamado.css">
  <title>Document</title>
</head>

<body>
  <h1>Cadastro Fila</h1>

  <form method="post" action="/cadastroFila">

    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao"><br><br>
 


    <button type="submit" class="button">Salvar</button><br>
    <div class="button2"><a href="/home">Home</a>
    </div>

  </form>


</body>

</html>