<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastroChamado.css">
    <title>Aluno Registration Form</title>
</head>

<body>
    <h1>Aluno Registration Form</h1>
    <form action="/cadastroUsuario" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required><br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="usuario" name="senha" required><br><br>
        
        <label for="cpf">CPF:</label>
        <input type="text" id="usuario" name="cpf" required><br><br>
   
		<th:block th:each="tipo :${tipoUsuarios}">
			<input class="form-check-input" type="checkbox" name="tipos" th:value="${tipo.id}">
			<label class="form-check-label" th:text="${tipo.descricao}"></label>
		</th:block>
		<button type="submit" class="button">Salvar</button>
		
    </form>
    
</body>

</html>