<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      var mensagemExibida = sessionStorage.getItem('mensagemExibida');
      var usuarioNome = "[[${usuario.nome}]]"; // Replace with the username variable from your server-side template
      var storedUsername = sessionStorage.getItem('username');
  
      if (!mensagemExibida || storedUsername !== usuarioNome) {
        alert('Bem-vindo, ' + usuarioNome + '!');
        sessionStorage.setItem('mensagemExibida', 'true');
        sessionStorage.setItem('username', usuarioNome);
      }
    });
  </script>

<body>
    <div class="top-content">
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="/login">SAIR</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <table class="book-list">
        <div class="table-content">

            <thead>
                <tr>
                    <th scope="col">Filas</th>
                </tr>
            </thead>
    </table>
  
        <tbody>
           
            <tr data-th-each="fila: ${filas}">
                <table class="list"> 
                <td>
                    <a class="button2" th:href="@{'/listaChamado/' + ${fila.id}}">
                        <span data-th-text="${fila.descricao}"></span>
                    </a>
                </td>
            </table>
            </tr>
       
        </tbody>
   
    </div>
    <table class="book-list">
    <div class="table-content">
        <tr>
            <th scope="col">Cadastro</th>
        </tr>

        <td>
            <div class="button"><a href="/cadastroChamado">Chamado</a></div>
        </td>
    </div>
</table>
    <div class="table-content" th:style="'display: ' + (${usuario.isUsuarioAdm} ? 'flex' : 'none')">
        <table class="book-list">
            <tbody>
                <tr>
                    <td>
                        <div class="button"><a href="/cadastroProduto">Produto</a></div>
                        <div class="button"><a href="/cadastroTipoUsuario">Tipo Usuario</a></div>
                        <div class="button"><a href="/cadastroUsuario">Usuario</a></div>
                        <div class="button"><a href="/cadastroFila">Fila</a></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  

</body>

</html>