<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>
<script th:inline="javascript">
    var mensagemExibida = sessionStorage.getItem('mensagemExibida');
    if (!mensagemExibida) {
        alert('Bem-vindo, ' + '[[${usuario.nome}]]' + '!');
        sessionStorage.setItem('mensagemExibida', 'true');
    }
</script>
<body>
    <div class="top-content">
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="/login">SAIR</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="table-content">
        <table class="book-list">
            <thead>
                <tr>
                    <th scope="col">Filas</th>
                </tr>

            </thead>
            <tbody>
                <tr data-th-each="fila: ${filas}">
                    <td>
                        <a th:href="@{'/listaChamado/' + ${fila.id}}">
                            <span data-th-text="${fila.descricao}"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-content">
        <thead>
            <tr>
                <th scope="col">Cadastro</th>
            </tr>
        </thead>
        
            <td>
                <div class="button"><a href="/cadastroChamado">Chamado</a></div>
            </td>
        
    </div>
    <div class="table-content" th:style="'display: ' + (${usuario.isUsuarioAdm} ? 'flex' : 'none')">
     
        <table class="book-list">
          
            <tbody>
                <tr>
                    <td>
                        <div class="button"><a href="/cadastroProduto">Produto</a></div>
                        <div class="button"><a href="/cadastroTipoUsuario">Tipo Usuario</a></div>
                        <div class="button"><a href="/cadastroUsuario">Usuario</a></div>
                        <div class="button"><a href="/cadastroFila">Fila</a></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</body>

</html>