<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>

<body>
    <div class="top-content">
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="/login">SAIR</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="table-content">
        <table class="book-list">
            <thead>
                <tr>
                    <th scope="col">Filas</th>
                    <th scope="col">Cadastros</th>
               
                </tr>

            </thead>
            <tbody>
                <tr data-th-each="fila: ${filas}">
                  <td>
                    <a th:href="@{'/listaChamado/' + ${fila.id}}">
                      <span data-th-text="${fila.descricao}"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
</body>

</html>