<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../listaChamado.css">
    <title>Lista Chamado</title>
</head>

<body>
    <div class="top-content">
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/login">SAIR</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="table-content">
        <table class="book-list">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Título</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>

            </thead>
            <tbody>
                <tr data-th-each="chamado: ${chamados}">
                    <td data-th-text="${chamado.data}"></td>
                    <td data-th-text="${chamado.titulo}"></td>
                    <td>
                        <div th:if="${chamado.status == true}">
                         <strong> <a style="color: green;" >Resolvido</a></strong>
                        </div>
                        <div th:if="${chamado.status == false}">
                        <strong>  <a style="color: red;">Pendente</a> </strong>
                        </div>
                      </td>
                      <td><a class="btn" th:href="@{'/chamadoDetalhado/'+${chamado.id}}">Visualizar</a></td>
                </tr>
               
            </tbody>
        </table>
    </div>
</body>

</html>